*, html{
    font-family: 'Roboto', sans-serif;
}
header {
    display: block;
    height: 200px;
    background-image:linear-gradient(to right, rgb(72, 72, 255), darkgrey);
    color:rgb(209, 209, 209);
}
.titleCont {
    position: relative;
    top: 140px;
    left: 20px;
    height: 45px;
    width: 275px;
    border: 2px solid rgb(209, 209, 209);
    border-radius: 22.5px;
}
.pageTitle {
    position: relative;
    text-align: center;
    font-size: 36px;  
}
.gridSystem {
    position: relative;
    left: 40px;
    top: 20px;
    display: flex;
    margin-bottom: 50px;
}
.wrapper {
    margin: auto;
    margin-top: 20px;
    margin-left: 50px;
    width: 580px;
    height: 600px;
    background-color: darkgrey;
    border: 1px;
    border-radius: 10px;
    padding-top: 20px;
}
.column1 {
    position: relative;
    top: 30px;
    width: 400px;
}

.main {
    margin:auto;
    display: grid;
    width: 500px;
    grid: repeat(10, 50px) / repeat(10, 50px);
    border: 1px; 
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(58, 58, 58);
}
.buttonGroup {
    margin-left: 30px;
    padding: 2px;
}
#genGrid,
#genColor,
#changeCircles,
#changeSquares,
#animateColor,
#stopAnimation {
    width: 127px;
    height: 35px;
    background-color: rgb(108, 103, 136);
    color: rgb(223, 223, 223);
    border-radius: 10px;
}
#animateColor {
    margin-top:3px;
    margin-left: 30px;
}
span {
    font-weight: bold;
}
footer {
    position: sticky;
    height: 35px;
    background-image:linear-gradient(to right, rgb(72, 72, 255), darkgrey);
    color:rgb(209, 209, 209);
}
.footerText {
    width: 300px;
    margin: auto;
    padding-top: 2px;
    display: flex;
}
#insta {
    height: 32px;
    margin-left: 5px;
}
#linkedin {
    margin-right: 5px;
    height: 32px;
}
.nameCode {
    margin-left: 10px;
}


